
.vscode/extensions.json
.vscode/launch.json
.vscode/settings.json
Assembly-CSharp-Editor.csproj
Assembly-CSharp.csproj
/Assets/AllSkyFree/
/[Ll]ibrary/
/Logs/
Packages/manifest.json
Packages/packages-lock.json
The-Flied-Piper.slnx
UserSettings/EditorUserSettings.asset
UserSettings/Layouts/CurrentMaximizeLayout.dwlt
UserSettings/Layouts/default-6000.dwlt
UserSettings/Search.index
UserSettings/Search.settings
/[Tt]emp/